<div class="text-center p-4">
  <h1 class="display-4 fw-bold">Food Mile Data Addition</h1>
</div>

<form method="post" class="data-form">
  <div class="m-4">
    <input
      class="form-input"
      type="text"
      name="foodName"
      id="foodName"
      placeholder="Name of the Food"
      value="{{emission.foodName}}"
    />
  </div>

  <div class="m-4">
    <input
      class="form-input"
      type="text"
      name="originPoint"
      id="originPoint"
      placeholder="Point of Origin"
      value="{{emission.originPoint}}"
    />
  </div>
  <div class="m-4">
    <input
      class="form-input"
      type="text"
      name="transportDistance"
      id="transportDistance"
      placeholder="Transport Distance (Kms)"
      value="{{emission.transportDistance}}"
    />
  </div>
  <div class="m-4">
    <input
      class="form-input"
      type="text"
      name="weight"
      id="weight"
      placeholder="Weight (kg)"
      value="{{emission.weight}}"
    />
  </div>
  <div class="m-4">
    <input
      class="form-input"
      type="text"
      name="unitsTotal"
      id="unitsTotal"
      placeholder="Total Units"
      value="{{emission.unitsTotal}}"
    />
  </div>
  <div class="m-4">
    <input
      class="form-input"
      type="text"
      name="valueTTW"
      id="valueTTW"
      placeholder="Emission Values kg (CO2e TTW)"
      value="{{emission.valueTTW}}"
    />
  </div>
  <div class="m-4">
    <input
      class="form-input"
      type="text"
      name="valueWTW"
      id="valueWTW"
      placeholder="Emission Values kg (CO2e WTW)"
      value="{{emission.valueWTW}}"
    />
  </div>
  <div class="m-4">
    <input
      class="form-input"
      type="text"
      name="valuePerkg"
      id="valuePerkg"
      placeholder="CO2e per kg"
      value="{{emission.valuePerkg}}"
    />
  </div>

  <div class="manual-upload">
    <button class="btn-style-two">Add Data</button>
  </div>
</form>
  <div class="manual-upload">
    <button class="btn-style-two">Add Data</button>
  </div>
</form>