<div class="container">
    <h1>{{title}}</h1>
    <div class="table">

    <!-- 4 box  -->
    <div class="row">
        <!-- Transpirt emissions -->
        <div class="col-xl-3 col-md-6">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                Transporation Emissions</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">452 Kg/CO2e</div>
                        </div>
                        <div class="col-auto">
                            <i class="fa-solid fa-truck-arrow-right fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Food Emissions -->
        <div class="col-xl-3 col-md-6">
            <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                Food Emissions</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">$215,000</div>
                        </div>
                        <div class="col-auto">
                            <i class="fa-solid fa-wheat-awn-circle-exclamation fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Blog Post -->
        <div class="col-xl-3 col-md-6">
            <div class="card border-left-warning shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                Pending Requests</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">18</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-comments fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Total Records -->
        <div class="col-xl-3 col-md-6">
            <div class="card border-left-warning shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                Total Records</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">18</div>
                        </div>
                        <div class="col-auto">
                            <i class="fa-solid fa-database fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        {{!-- add data buttons --}}
         <h4 class="h4 mb-0 text-gray-800 mt-4">Add Data</h1>
         <a href="/dashboard/create" class="btn btn-dark w-25 m-2">Add Food Emission Data</a>
         <h5 class="h5 mb-0 offset-1 text-gray-800 mt-4">-OR-</h5>
         <form action="/dashboard/" method="post" enctype="multipart/form-data">
        <div>
            <label for="csv">Upload Data</label> <br />
            <input type="file" name="csv" id="csv">
        </div>
        <br>
        <button type="submit">Upload</button>
    </form>
        {{!-- data table --}}
        {{#if emission}}
        <table class="table table-striped table-hover mt-5">
            <thead class="text-center">
                <tr>
                    <th>Food</th>
                    <th>Point of Origin</th>
                    <th>Transport Distance (km)</th>
                    <th>Weight (kg)</th>
                    <th>Units</th>
                    <th>Emission Values kg (CO2e TTW)</th>
                    <th>Emission Values kg (CO2e WTW)</th>
                    <th>CO2e per kg</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody class="table-group-divider">
                {{#each emission}}
                <tr class="m-auto text-center">
                    <td>{{this.foodName}}</td>
                    <td>{{this.originPoint}}</td>
                    <td>{{this.transportDistance}}</td>
                    <td>{{this.weight}}</td>
                    <td>{{this.unitsTotal}}</td>
                    <td>{{this.valueTTW}}</td>
                    <td>{{this.valueWTW}}</td>
                    <td>{{this.valuePerkg}}</td>
                    <td class="text-center">
                        <a href="/dashboard/edit/{{this._id}}" title="Edit">
                            <i class="fa-solid fa-pen-to-square"></i>
                        </a>
                    </td>
                    <td class="text-center">
                        <a href="/dashboard/delete/{{this._id}}" title="Delete" onclick="return confirmDelete();">
                            <i class="fa-solid fa-trash"></i>
                        </a>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
        {{/if}}
    </div>


    <!-- Add Data -->
    
  {{!--  <div class="add-data">
        <div class="manual-upload">
            <h2>Manually Add Data</h2>
            <a href="/dashboard/create" class="btn-style-two">Add Data</a>
        </div>

<div class="m-auto text-center">
    <a href="/dashboard/create" class="btn btn-dark">Add Food Emission Data</a>
</div>
<div class="m-auto text-center">
    <h1>Upload CSV File</h1>
    <form action="/upload" method="post" enctype="multipart/form-data">
        <div>
            <label for="csv">Choose CSV File:</label>
            <input type="file" name="csv" id="csv">
        </div>
    </div>--}}


    {{!-- <div class="mt-4">

    </div>


    <div class="mt-5 ">
        <h1 class="display-4 fw-bold lh-1">Upload CSV File</h1>
        <form method="post" enctype="multipart/form-data">
            <div>
                <label for="csv">Choose CSV File:</label>
                <input type="file" name="csv" id="csv" />
            </div>
            <br />
            <button class="btn-style-two" type="submit">Upload</button>
        </form>
    </div> --}}
</div>